.container {
  display: grid;
  grid-template-rows: 1fr min-content;
  gap: 5px 0;
  padding: 5px;
}

.container:hover {
  box-shadow: 0 0 0 1px var(--primary);
}

.name {
  font-size: 1rem;
  margin: 0 0 0 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
