.container {
  position: relative;
  overflow: hidden;
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: var(--secondary);
  background-color: rgba(51, 51, 51, 0.8);
  width: 100%;
  height: 100%;
  padding: 50px;
  transition: transform 0.2s;
  transform: translateY(100%);
  pointer-events: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.2s;
}

.container:hover .image {
  transform: scale(1.1);
}

.container:hover .name {
  transform: translateY(0);
}
