.link {
  color: var(--font-color);
  font-weight: var(--medium);
}

.link::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--primary);
  transition: transform 0.2s;
  transform-origin: center;
  transform: scaleX(0);
}

.link:hover {
  color: var(--primary);
}

.link:hover::after {
  transform: scaleX(1);
}
