.container,
.welcome {
  display: flex;
  align-items: center;
}

.container {
  flex-direction: column-reverse;
  gap: 40px 0;
  padding-bottom: 50px;
}

.welcome {
  flex-direction: column;
  gap: 10px 0;
}

.divider {
  width: 70%;
  margin: 0;
}

.text {
  font-size: clamp(2.5rem, 4vw + 1rem, 8rem);
  margin: 0;
  text-align: center;
}

.photo {
  width: 100%;
  height: auto;
  clip-path: circle(50% at 50% 50%);
}

@media screen and (min-width: 950px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 80px;
  }
}
