.container,
.welcome {
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  margin-top: 50px;
  gap: 20px 80px;
  background-color: var(--bg);
  background-image: url('../../../public/shapes-bg.svg');
  background-position: center;
}

.welcome {
  grid-auto-rows: min-content;
  justify-items: center;
  gap: 10px 0;
}

.divider {
  width: 70%;
  margin: 0;
}

.text {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

.photo {
  width: 100%;
  height: auto;
  clip-path: circle(50% at 50% 50%);
}
