*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary: #4d2d73;
  --secondary: #ffcc58;
  --font-color: #333333;
  --bg: #f0f0f0;
  /* font weights */
  --display: 400;
  --regular: 400;
  --medium: 600;
  --bold: 700;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg);
  color: var(--font-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: var(--medium);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a,
sup {
  color: var(--secondary);
}

#nprogress .bar {
  background-color: var(--primary);
  height: 5px;
}
