.container {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px 50px;
  padding: 20px 0;
  background-color: var(--bg);
  border-bottom: 1px solid var(--primary);
}

.logo {
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .container {
    justify-content: space-between;
  }
}